<div id="<%= dom_id quote %>">
  <p>
    <strong>Qtext:</strong>
    <%= quote.qtext %>
  </p>

  <p>
    <strong>Qyear:</strong>
    <%= quote.qyear %>
  </p>

  <p>
    <strong>Qcom:</strong>
    <%= quote.qcom %>
  </p>

  <p>
    <strong>Ispublic:</strong>
    <%= quote.ispublic %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= quote.source_id %>
  </p>

</div>
