<div class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= quote.qtext %></h5>
    <p class="card-text">
      <h5><strong> <%= quote.source.full_name %> </strong></h5>
      <strong>Birth Year:</strong> <%= quote.source.byear %><br>
      <strong>Death Year:</strong> <%= quote.source.dyear %><br>
      <strong>Biography:</strong> <%= quote.source.bio %><br><br>

      <strong>Category(s):</strong> 
      <% quote.categories.each do |category| %>
        <%= category.catname %>
        <% unless category == quote.categories.last %>, <% end %>
      <% end %><br>

      <% if quote.qyear? %>
        <strong>Year:</strong> <%= quote.qyear %><br><br>
      <% else %>
        <strong>Year:</strong> - <br>
      <% end %>

      <strong>Uploaded by:</strong> <%= quote.user.fname %><br>

      <% if quote.qcom? %>
        - "<%= quote.qcom %>"
      <% else %>
        - "no comment"
      <% end %>
    </p>
  </div>
</div>