<p style="color: green"><%= notice %></p>

<h1>Your Quotes</h1>

<% @quotes.each do |quote| %>
  <div class="card bg-body-tertiary" style="margin-bottom:10px">
      <div class="card-body">
          <h5 class="card-title"> <%= quote.qtext %> </h5>
          <p class="card-text">
              <strong><%= quote.source.fname %> <%= quote.source.lname %></strong><br />
              [<a href="/quotes/<%= quote.id %>">More details</a>]
          </p>
      </div>
  </div>
<% end %>

<%= link_to "New quote", new_quote_path %>
