<div id="<%= dom_id source %>">
  <p>
    <strong>Fname:</strong>
    <%= source.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= source.lname %>
  </p>

  <p>
    <strong>Byear:</strong>
    <%= source.byear %>
  </p>

  <p>
    <strong>Dyear:</strong>
    <%= source.dyear %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= source.bio %>
  </p>

</div>
